@media only screen and (min-width: 1000px){

}




@media only screen and (min-width: 1400px){
 
 .top-div{
    background-attachment: fixed;
    background-size: 100vw;
 }
 .zine-grid {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 3vw;
     padding: 2vw;
     padding-top: 8vw;
     margin-left: 2.6%;
     margin-right: 1.2%;
  }
  .zine-item {
     overflow: hidden;
     position: relative;
     cursor: pointer;
  } 
  .zine-item img {
     width: 18vw;
     height: 26vw;
     object-fit: fill; /* Ensures the image covers the area without stretching */
     border: rgb(0, 0, 0) .25vw solid;
     display: block;
  }
  .auth-title-div{
    margin-top: -3vw;
  }
  .title-text{
     font-family: 'header';
     font-weight: 400;
     font-size: 1.5vw;
     line-height: 1.65vw;
     color: rgb(255, 255, 255);
     text-align: center;
     letter-spacing: .15vw;
     margin-bottom: 12%;
     padding: 0 .25vw 0 .25vw;
  }
  .author{
     font-family: 'header';
     font-weight: 500;
     font-size: 1.10vw;
     line-height: 1.30vw;
     color: aqua;
     text-align: center;
     letter-spacing: .12vw;
     padding-left: .25vw;
     padding-right: .25vw;
  }
  .frame{
     padding: 0 1.25vw .0vw 1.25vw;
     width: 16vw;
     height: 27vw;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: black;
     position: absolute;
     z-index: 2;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     opacity: 0;
     transition: opacity 0.55s ease;
  }
  .zine-item:hover .frame {
     opacity: .93;
  }
  .right-arrow{
     height: .2vw;
  }
  .meta-btn{
     margin-top: 4%;
     background-color: transparent;
     border: none;
     font-family: 'header';
     font-weight: 600;
     font-size: 1.16vw;
     letter-spacing: .24vw;
     color: rgb(0, 0, 0);
     cursor: pointer;
     transition: all .75s;
     margin-bottom: 12%;
  }
  .meta-btn:hover{
   letter-spacing: .35vw;
   color: black
  }
  .overlay {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.78);
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 5;
     transition: opacity 1s ease, visibility 1s ease;
   }
   .overlay-frame{
     height: 82vh;
     width: 85vw;
     border: .25vw gray solid;
     display: relative;
     z-index: 6;
     background-color: rgb(248, 249, 237);
     background-size: cover;
     padding-left: 2vw;
     padding-right: 2vw;
     padding-top: .25vw;
   }
   .col-data-div{
     display: flex;
   }
   .data-div{
     width: 63%;
     padding: 1.25vw 1vw 1vw 1vw;
   }
   .img-div{
     width: 19vw;
     height: 32.5vw;
     padding-top: 1vw;
     display: block;
     overflow: visible;
     position: relative;
     margin-left: 2.75vw;
   }
   .zine-title{ 
     font-family: 'manrope';
     font-size: 1.9vw;
     width: 95%;
     text-align: center;
     letter-spacing: .05vw;
     font-weight: 800;
     color: black;
     margin-bottom: 4%;
     margin-top: 2.5%;
     padding-right: 0%;
     padding-left: 2%;
     
   }
   .metadata{
     font-family: "manrope";
     font-size: 1.2vw;
     width: 97%;
     letter-spacing: .04vw;
     font-weight: 500;
     margin-left: 3%;
     margin-top: 0vw;
     margin-bottom: 1.25vw;
     color: rgb(65, 65, 65);
   }
   .data-cat{
     font-family: 'manrope';
     font-size: 1.25vw;
     width: 100%;
     letter-spacing: .05vw;
     font-weight: 700;
     font-style: bold;
     color: rgb(0, 0, 0);
     margin-right: 1%;
   }
   .card-img{
     width: auto;
     height: 29vw;
     object-fit: contain;
     border: .3vw rgb(0, 0, 0) solid;
     margin-bottom: 2%;
   }
   .card-btn{
     background-color: transparent;
     border: none;
     font-family: 'header';
     letter-spacing: .25vw;
     font-size: 1.05vw;
     font-weight: 600;
     padding: .0vw 0vw .3vw 0vw;
     cursor: pointer;
     transition: all .75s;
     color:rgb(65, 65, 65)
   }
   .card-btn:hover{
     letter-spacing: .4vw;
     color: black;
   }
   .pagination{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 5%;
      margin-top: 2%;
   }
   .sub-pagination{
    display: flex;
    justify-content: center;
    width: 50vw;
   }
   .page-btn{
      width: 2.5vw;
      height: 2.5vw;
      margin-right: 3.5%;
      margin-left: 3.5%;
      color: black;
      background-color: transparent;
      font-family: 'manrope';
      font-size: 1.5vw;
      line-height: 1.5vw;
      font-weight: 600;
      border: none;
      border-radius: 20vw;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
   }
   .page-btn.active{
    background-color: black;
    color: aqua;
    font-size: 1.25vw;
    font-weight: 600;
   }
   .dropdown-menu{
    display: flex;
    margin-top: -2.75%;
   }
   .filter-by{
    font-family: 'manrope';
    font-size: 1.15vw;
    font-weight: 600;
    margin-left: 71.65%;
   }
   .filter{
    width: 15vw;
    padding: 0vw 0vw 0.1vw 0vw;
    background-color: transparent;
    color: black;
    border-right: none;
    border-top: none;
    border-left: none;
    border-bottom: .11vw black solid;
    margin-top: .980vw;
    margin-left: .5%;
    font-size: 1.18vw;
    line-height: 1.3vw;
    font-family: 'manrope';
    font-weight: 600;
    height: 1.9vw;
    cursor: pointer;
   }
   .filter.open {
    background-color: #000000; /* Background color when the dropdown is open */
  }
  .filter:focus {
    outline: none;
  }
  .filter option {
    background-color: #f9f9f9;
    color: black;
  }
}

@media only screen and (min-width: 1900px){
   
  .top-div{
    background-attachment: fixed;
    background-size: 100vw;
 }

 .zine-grid {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 3vw;
     padding: 2vw;
     padding-top: 5.5vw;
     margin-left: 3%;
     margin-right: 1.5%;
  }
  .zine-item {
     overflow: hidden;
     position: relative;
     cursor: pointer;
  } 
  .zine-item img {
     width: 18vw;
     height: 26vw;
     object-fit: fill; /* Ensures the image covers the area without stretching */
     border: rgb(0, 0, 0) .25vw solid;
     display: block;
  }
  .auth-title-div{
    margin-top: -3vw;
  }
  .title-text{
     font-family: 'header';
     font-weight: 400;
     font-size: 1.45vw;
     line-height: 1.55vw;
     color: rgb(255, 255, 255);
     text-align: center;
     letter-spacing: .15vw;
     margin-bottom: 12%;
     padding: 0 .25vw 0 .25vw;
  }
  .author{
     font-family: 'header';
     font-weight: 500;
     font-size: 1.10vw;
     line-height: 1.30vw;
     color: aqua;
     text-align: center;
     letter-spacing: .12vw;
     padding-left: .25vw;
     padding-right: .25vw;
  }
  .frame{
     padding: 0 1.25vw .0vw 1.25vw;
     width: 16vw;
     height: 27vw;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: black;
     position: absolute;
     z-index: 2;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     opacity: 0;
     transition: opacity 0.55s ease;
  }
  .zine-item:hover .frame {
     opacity: .93;
  }
  .right-arrow{
     height: .2vw;
  }
  .meta-btn{
     margin-top: 4%;
     background-color: transparent;
     border: none;
     font-family: 'header';
     font-weight: 500;
     font-size: 1.15vw;
     letter-spacing: .2vw;
     color: rgb(0, 0, 0);
     cursor: pointer;
     transition: all .75s;
     margin-bottom: 8%;
  }
  .meta-btn:hover{
   letter-spacing: .35vw;
   color: black
  }
  .overlay {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.78);
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 5;
     transition: opacity 1s ease, visibility 1s ease;
   }
   .overlay-frame{
     height: 82vh;
     width: 78vw;
     border: .25vw gray solid;
     display: relative;
     z-index: 6;
     background-image: url(../assets/fonts/linen.jpg);
     background-size: cover;
     padding-left: 2vw;
     padding-right: 2vw;
     padding-top: .25vw;
   }
   .col-data-div{
     display: flex;
   }
   .data-div{
     width: 63%;
     padding: 1.25vw 1vw 1vw 1vw;
   }
   .img-div{
     width: 19vw;
     height: 32.5vw;
     padding-top: 1vw;
     display: block;
     overflow: visible;
     position: relative;
     margin-left: 2.75vw;
   }
   .zine-title{ 
     font-family: 'manrope';
     font-size: 1.7vw;
     width: 95%;
     text-align: center;
     letter-spacing: .05vw;
     font-weight: 800;
     color: black;
     margin-bottom: 4%;
     margin-top: 2.5%;
     padding-right: 0%;
     padding-left: 2%;
     
   }
   .metadata{
     font-family: "manrope";
     font-size: 1.1vw;
     width: 97%;
     letter-spacing: .04vw;
     font-weight: 500;
     margin-left: 3%;
     margin-top: 0vw;
     margin-bottom: 1vw;
     color: rgb(65, 65, 65);
   }
   .data-cat{
     font-family: 'manrope';
     font-size: 1.15vw;
     width: 100%;
     letter-spacing: .05vw;
     font-weight: 700;
     font-style: bold;
     color: rgb(0, 0, 0);
     margin-right: 1%;
   }
   .card-img{
     width: 18vw;
     height: 26vw;
     object-fit: fill;
     border: .3vw rgb(0, 0, 0) solid;
     margin-bottom: 2%;
   }
   .card-btn{
     background-color: transparent;
     border: none;
     font-family: 'header';
     letter-spacing: .25vw;
     font-size: 1.05vw;
     font-weight: 600;
     padding: .0vw 0vw .3vw 0vw;
     cursor: pointer;
     transition: all .75s;
     color:rgb(65, 65, 65)
   }
   .card-btn:hover{
     letter-spacing: .4vw;
     color: black;
   }
   .pagination{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 5%;
      margin-top: 2%;
   }
   .sub-pagination{
    display: flex;
    justify-content: center;
    width: 50vw;
   }
   .page-btn{
      width: 2.5vw;
      height: 2.5vw;
      margin-right: 3.5%;
      margin-left: 3.5%;
      color: black;
      background-color: transparent;
      font-family: 'manrope';
      font-size: 1.5vw;
      line-height: 1.5vw;
      font-weight: 600;
      border: none;
      border-radius: 20vw;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
   }
   .page-btn.active{
    background-color: black;
    color: aqua;
    font-size: 1.25vw;
    font-weight: 600;
   }
   .dropdown-menu{
    display: flex;
    margin-top: -2.95%;
   }
   .filter-by{
    font-family: 'manrope';
    font-size: 1.15vw;
    font-weight: 600;
    margin-left: 71.65%;
   }
   .filter{
    width: 15vw;
    padding: 0vw 0vw 0.1vw 0vw;
    background-color: transparent;
    color: black;
    border-right: none;
    border-top: none;
    border-left: none;
    border-bottom: .13vw black solid;
    margin-top: .988vw;
    margin-left: .5%;
    font-size: 1.18vw;
    line-height: 1.3vw;
    font-family: 'manrope';
    font-weight: 600;
    height: 1.9vw;
   }
   .filter.open {
    background-color: #000000; /* Background color when the dropdown is open */
  }
  .filter:focus {
    outline: none;
  }
  .filter option {
    background-color: #f9f9f9;
    color: black;
  }
}