@media only screen and (min-width: 766px){
 
}

@media only screen and (min-width: 1000px){
    
}

@media only screen and (min-width: 1400px){

}

@media only screen and (min-width: 1900px){
    .about-top{
        width: 100vw;
      }
    .para-1-container{
        width: 94%;
        height: auto;
        display: flex;
        justify-content: left;
    }
    .container-label-1{
        display: flex;
        align-items: end;
        margin-right: 8.5vw;
    }
    .container-label-sub{
        display: flex;
        align-items: center;
        padding-left: 0px;
        position: relative;
        bottom: 0;
        width: 28vw;
    }
    .bike-img{
        height: 13.5vw;
        border-top: 5px solid black;
        border-left: 5px solid black;
        border-right: 5px solid black;
    }
    .para-1{
        width: 100%;
        border-bottom: 18px black solid;
        display: flex;
        justify-content: right;
    }
    .para-1-text{
        width: 48%;
        color: rgb(255, 255, 255);
        background-color: black;
        padding: 2%;
        font-family: 'manrope';
        font-size: 1.08vw;
        font-weight: 600;
        line-height: 1.52vw;
        letter-spacing: 1.5px;
        margin: 0px; 
    }
    .para-2-text{
        width: 55%;
        color: rgb(255, 255, 255);
        background-color: black;
        padding: 30px 30px 30px 30px;
        font-family: 'manrope';
        font-size: 1.08vw;
        font-weight: 600;
        line-height: 34px;
        letter-spacing: 1.5px;
        margin: 0px; 
    }
    .img-1-container{
        padding-left: 220px;
        display: flex;
        margin-bottom: 320px;
    }
    .img-1{
        height: 20vw;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%) contrast(150%);
    }
    .deco-div-1{
        height: 220px;
        width: 30%; 
        border-right: 10px black solid;
    }
    .deco-div-2{
        border-bottom: 10px black solid;
        width: 350px;
        height: 250px
    }
    
}