@media only screen and (min-width: 766px){
 
}

@media only screen and (min-width: 1000px){
    
}

@media only screen and (min-width: 1400px){

}

@media only screen and (min-width: 1900px){
    .about-top{
        width: 100vw;
      }
    .para-1-container{
        width: 92%;
        height: auto;
        display: flex;
        justify-content: left;
    }
    .container-label-1{
        display: flex;
        align-items: end;
        margin-right: 100px;
    }
    .container-label-sub{
        display: flex;
        align-items: center;
        padding-left: 0px;
        height: 80px;
        position: relative;
        bottom: 0;
        width: 470px;
    }
    .img-lable-1{
        height: 110px;
        position: absolute;
        left: 230px;
        bottom: 75px;
    }
    .para1-label{
        position: absolute;
        bottom: 60px;
        font-size: 30px;
        font-family: 'header';
        color: rgb(0, 0, 0);
        letter-spacing: 3px;
        font-weight: 600;
        
    }
    .para-1{
        width: 100%;
        border-bottom: 18px black solid;
        display: flex;
        justify-content: right;
    }
    .para-1-text{
        width: 1000px;
        color: rgb(255, 255, 255);
        background-color: black;
        padding: 2%;
        font-family: 'manrope';
        font-size: 24px;
        font-weight: 600;
        line-height: 34px;
        letter-spacing: 1.5px;
        margin: 0px; 
    }
    .img-1-container{
        width: 90vw;
        padding-left: 220px;
        display: flex;
    }
    .img-1{
        height: 500px;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%) contrast(150%);
    }
    .deco-div-1{
        height: 130px;
        width: 30%; 
        border-right: 8px black solid;
    }
    .deco-div-2{
        border-bottom: 8px black solid;
        width: 300px;
        height: 250px
    }
    
}