.title{
    font-family: 'header'; 
    display: none;
}

.not-current{
    color: black;
}


@media only screen and (min-width: 768px){
 
  
}

@media only screen and (min-width: 1000px){
    .top-nav{
        width: 100vw;
        display: flex;
        justify-content: right;
    }
    .navbar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        color: white;
        padding: .5vw 3vw 0px 0px;
        margin-top: 2.5%;
        margin-bottom: 4.25%;
        border-bottom: black .42vw solid;
        width: 93%;
    }
    .left h1 {
        margin: 0;
    }
    .left{
        background-color: black;
        padding-bottom: .1vw;
    }
    .right ul {
        list-style: none;
        margin: 0;
        display: flex;
        align-items: flex-end;
    }
    .nav-container{
        padding-top: 1.5vw;
    }
    .right ul li {
        margin-left: 2.5vw;
    }
    .right ul li:first-child {
        margin-left: 0;
    }
    .nav-link {
        text-decoration: none;
        font-family: 'header';
        font-size: 1.5vw;
        letter-spacing: .25vw;
        font-weight: 500;
        color: rgb(0, 0, 0);
        margin-bottom: 0;
        padding-top: .9vw;
        padding-bottom: .2vw;
        padding-right: .0vw;
        cursor: pointer;
        background-color: transparent;
        transition: all .75s;
    }
    .nav-link.current{
        text-decoration: none;
        font-family: 'header';
        font-size: 1.5vw;
        letter-spacing: .25vw;
        font-weight: 500;
        color:  rgb(255, 255, 255);
        margin-bottom: 0;
        cursor: pointer;
        padding: .0vw .0vw .2vw .0vw;
        transition: all .75s;
    }
    .nav-link:hover{
        letter-spacing: .4vw;
    }
    li{
        padding-top: 0px;
    }
    .main-title {
        font-family: 'stencil'; 
        color: #48eaff;
        font-size: 4.5vw;
        line-height: 4vw;
        font-weight: 500;
        margin-bottom: 0px;
        letter-spacing: .3vw;
        padding-top: 0px;
        background-color: transparent;
        padding: .75vw 2.25vw 0vw 2.25vw;
    }
    .subtitle{
        padding: 0px 0px 0px .98vw;
        margin: 0px;
        font-family: 'header';
        font-size: 1.15vw;
        letter-spacing: .3vw;
        margin-left: 1.65vw;
        padding-bottom: .25vw;
    }
  
}

@media only screen and (min-width: 1400px){
    .top-nav{
        width: 100vw;
        display: flex;
        justify-content: right;
    }
    .navbar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        color: white;
        padding: .5vw 3vw 0px 0px;
        margin-top: 2.5%;
        margin-bottom: 4.25%;
        border-bottom: black .42vw solid;
        width: 93%;
    }
    .left h1 {
        margin: 0;
    }
    .left{
        background-color: black;
        padding-bottom: .1vw;
    }
    .right ul {
        list-style: none;
        margin: 0;
        display: flex;
        align-items: flex-end;
    }
    .nav-container{
        padding-top: 1.5vw;
    }
    .right ul li {
        margin-left: 2.5vw;
    }
    .right ul li:first-child {
        margin-left: 0;
    }
    .nav-link {
        text-decoration: none;
        font-family: 'header';
        font-size: 1.5vw;
        letter-spacing: .25vw;
        font-weight: 500;
        color: rgb(0, 0, 0);
        margin-bottom: 0;
        padding-top: .9vw;
        padding-bottom: .2vw;
        padding-right: .0vw;
        cursor: pointer;
        background-color: transparent;
        transition: all .75s;
    }
    .nav-link.current{
        text-decoration: none;
        font-family: 'header';
        font-size: 1.5vw;
        letter-spacing: .25vw;
        font-weight: 500;
        color:  rgb(255, 255, 255);
        margin-bottom: 0;
        cursor: pointer;
        padding: .0vw .0vw .2vw .0vw;
        transition: all .75s;
    }
    .nav-link:hover{
        letter-spacing: .4vw;
    }
    li{
        padding-top: 0px;
    }
    .main-title {
        font-family: 'stencil'; 
        color: #48eaff;
        font-size: 4.5vw;
        line-height: 4vw;
        font-weight: 500;
        margin-bottom: 0px;
        letter-spacing: .3vw;
        padding-top: 0px;
        background-color: transparent;
        padding: .75vw 2.25vw 0vw 2.25vw;
    }
    .subtitle{
        padding: 0px 0px 0px .98vw;
        margin: 0px;
        font-family: 'header';
        font-size: 1.15vw;
        letter-spacing: .3vw;
        margin-left: 1.65vw;
        padding-bottom: .25vw;
    }
}

@media only screen and (min-width: 1900px){
    .top-nav{
        width: 100vw;
        display: flex;
        justify-content: right;
    }
    .navbar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        color: white;
        padding: 1vw 3vw 0px 0px;
        margin-top: 1.5%;
        margin-bottom: 4.25%;
        border-bottom: black .42vw solid;
        width: 92.2%;
    }
    .left h1 {
        margin: 0;
    }
    .left{
        background-color: black;
        padding-bottom: .1vw;
    }
    .right ul {
        list-style: none;
        margin: 0;
        display: flex;
        align-items: flex-end;
    }
    .nav-container{
        padding-top: 1.5vw;
    }
    .right ul li {
        margin-left: 2.5vw;
    }
    .right ul li:first-child {
        margin-left: 0;
    }
    .nav-link {
        text-decoration: none;
        font-family: 'header';
        font-size: 1.4vw;
        letter-spacing: .25vw;
        font-weight: 500;
        color: rgb(0, 0, 0);
        margin-bottom: 0;
        padding-top: .9vw;
        padding-bottom: .2vw;
        padding-right: .0vw;
        cursor: pointer;
        background-color: transparent;
        transition: all .75s;
    }
    .nav-link.current{
        text-decoration: none;
        font-family: 'header';
        font-size: 1.4vw;
        letter-spacing: .25vw;
        font-weight: 500;
        color:  rgb(255, 255, 255);
        margin-bottom: 0;
        cursor: pointer;
        padding: .0vw .0vw .2vw .0vw;
        transition: all .75s;
    }
    .nav-link:hover{
        letter-spacing: .4vw;
    }
    li{
        padding-top: 0px;
    }
    .main-title {
        font-family: 'stencil'; 
        color: #48eaff;
        font-size: 4.55vw;
        line-height: 4vw;
        font-weight: 500;
        margin-bottom: 0px;
        letter-spacing: .2vw;
        padding-top: 0px;
        background-color: transparent;
        padding: .9vw 2.25vw 0vw 2.25vw;
    }
    .subtitle{
        padding: 0px 0px 0px .98vw;
        margin: 0px;
        font-family: 'header';
        font-size: 1vw;
        letter-spacing: .45vw;
        margin-left: 1.65vw;
        padding-bottom: .25vw;
    }
}