.title{
    font-family: 'header'; 
    display: none;
}

.not-current{
    color: black;
}


@media only screen and (min-width: 768px){
 
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        color: white;
        padding: 10px 3% 5px 0px;
        margin-left: 50px;
        margin-top: 40px;
        margin-bottom: 45px;
        border-bottom: #fbfdfe 3px solid;
    }
    .left h1 {
        margin: 0;
    }
    .right ul {
        list-style: none;
        margin: 0;
        display: flex;
        align-items: flex-end;
    }
    .right ul li {
        margin-left: 12px;
    }
    .right ul li:first-child {
        margin-left: 0;
    }
    .nav-link {
        text-decoration: none;
        font-family: 'header';
        font-size: 15px;
        letter-spacing: 3px;
        font-weight: 500;
        color: rgb(0, 0, 0);
        margin-bottom: 0;
        background-color: #fbfdfe;
        padding-left: 15px;
        padding-top: 3px;
        padding-bottom: 1px;
        padding-right: 5px;
    }
    .nav-link.current{
        text-decoration: none;
        font-family: 'header';
        font-size: 15px;
        letter-spacing: 3px;
        font-weight: 500;
        color: #00b1c9;
        margin-bottom: 0;
        background-color: black;
        padding-left: 25px;
    }
    .right ul li p:hover{
        color: #00b1c9;
    }
    li{
        padding-top: 0px;
    }
    .main-title {
        font-family: 'stencil'; 
        color: #00b1c9;
        font-size: 55px;
        line-height: 50px;
        font-weight: 800;
        margin-bottom: 0px;
        letter-spacing: 1px;
        padding-top: 0px;
    }
}

@media only screen and (min-width: 1000px){

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        color: white;
        padding: 10px 3% 10px 0px;
        margin-left: 70px;
        margin-top: 35px;
        margin-bottom: 45px;
        border-bottom: #fbfdfe 3px solid;
    }
    .left h1 {
        margin: 0;
    }
    .right ul {
        list-style: none;
        margin: 0;
        display: flex;
        align-items: flex-end;
    }
    .right ul li {
        margin-left: 12px;
    }
    .right ul li:first-child {
        margin-left: 0;
    }
    .nav-link {
        text-decoration: none;
        font-family: 'header';
        font-size: 15px;
        letter-spacing: 3px;
        font-weight: 500;
        color: rgb(0, 0, 0);
        margin-bottom: 0;
        background-color: #fbfdfe;
        padding-left: 15px;
        padding-top: 3px;
        padding-bottom: 1px;
        padding-right: 5px;
    }
    .nav-link.current{
        text-decoration: none;
        font-family: 'header';
        font-size: 15px;
        letter-spacing: 3px;
        font-weight: 500;
        color: #00b1c9;
        margin-bottom: 0;
        background-color: black;
        padding-left: 25px;
    }
    .right ul li p:hover{
        color: #00b1c9;
    }
    li{
        padding-top: 0px;
    }
    .main-title {
        font-family: 'stencil'; 
        color: #01bcd5;
        font-size: 60px;
        line-height: 50px;
        font-weight: 800;
        margin-bottom: 0px;
        letter-spacing: 1px;
        padding-top: 0px;
    }
}

@media only screen and (min-width: 1400px){

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        color: white;
        padding: 10px 3% 10px 0px;
        margin-left: 120px;
        margin-top: 30px;
        margin-bottom: 45px;
        border-bottom: #fbfdfe 5px solid;
    }
    .left h1 {
        margin: 0;
    }
    .right ul {
        list-style: none;
        margin: 0;
        display: flex;
        align-items: flex-end;
    }
    .nav-container{
        padding-top: 15px;
    }
    .right ul li {
        margin-left: 28px;
    }
    .right ul li:first-child {
        margin-left: 0;
    }
    .nav-link {
        text-decoration: none;
        font-family: 'header';
        font-size: 18px;
        letter-spacing: 3px;
        font-weight: 500;
        color: rgb(0, 0, 0);
        margin-bottom: 0;
        background-color: #fbfdfe;
        padding-left: 15px;
        padding-top: 3px;
        padding-bottom: 1px;
        padding-right: 5px;
    }
    .nav-link.current{
        text-decoration: none;
        font-family: 'header';
        font-size: 18px;
        letter-spacing: 3px;
        font-weight: 500;
        color: #00b1c9;
        margin-bottom: 0;
        background-color: black;
        padding-left: 25px;
    }
    .right ul li p:hover{
        color: #00b1c9;
    }
    li{
        padding-top: 0px;
    }
    .main-title {
        font-family: 'stencil'; 
        color: #01bcd5;
        font-size: 70px;
        line-height: 70px;
        font-weight: 800;
        margin-bottom: 0px;
        letter-spacing: 1px;
        padding-top: 0px;
    }
}

@media only screen and (min-width: 1900px){

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        color: white;
        padding: 10px 3% 10px 0px;
        margin-left: 200px;
        margin-top: 45px;
        margin-bottom: 45px;
        border-bottom: #fbfdfe 7px solid;
    }
    .left h1 {
        margin: 0;
    }
    .right ul {
        list-style: none;
        margin: 0;
        display: flex;
        align-items: flex-end;
    }
    .nav-container{
        padding-top: 15px;
    }
    .right ul li {
        margin-left: 48px;
    }
    .right ul li:first-child {
        margin-left: 0;
    }
    .nav-link {
        text-decoration: none;
        font-family: 'header';
        font-size: 20px;
        letter-spacing: 3px;
        font-weight: 500;
        color: rgb(0, 0, 0);
        margin-bottom: 0;
        background-color: #fbfdfe;
        padding-left: 15px;
        padding-top: 3px;
        padding-bottom: 1px;
        padding-right: 5px;
    }
    .nav-link.current{
        text-decoration: none;
        font-family: 'header';
        font-size: 20px;
        letter-spacing: 3px;
        font-weight: 500;
        color: #00b1c9;
        margin-bottom: 0;
        background-color: rgb(0, 0, 0);
        padding-left: 25px;
    }
    .right ul li p:hover{
        color: #00b1c9;
    }
    li{
        padding-top: 0px;
    }
    .main-title {
        font-family: 'stencil'; 
        color: #01bcd5;
        font-size: 80px;
        line-height: 80px;
        font-weight: 800;
        margin-bottom: 0px;
        letter-spacing: 1px;
        padding-top: 0px;
    }
}