body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'header';
  src: url('./assets/fonts/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'copy';
  src: url('./assets/fonts/K2D-Regular.ttf') format('truetype');
}