body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/fonts/linen.jpg");
  background-size: 160%;
}

@font-face {
  font-family: 'header';
  src: url('./assets/fonts/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'copy';
  src: url('./assets/fonts/K2D-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'stencil';
  src: url('./assets/fonts/SairaStencilOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'manrope';
  src: url('./assets/fonts/Manrope-VariableFont_wght.ttf') format('truetype');
}



@media only screen and (min-width: 1400px){
  body{
    background-image: url("./assets/fonts/post2.png");
    background-size: cover;
    background-attachment: fixed;
  }
}